<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/jquery-3.6.0.js"></script>
</head>
<body>
	<h1>게시글 수정</h1>
	<hr>
	<form action="/board/update" id="updateFrm" method="post" enctype="multipart/form-data">
		<table border="1">
			<tr>
				<th>
					<label for="boardTitle">제목</label>
				</th>
				<td>
					<input type="text" name="boardTitle" id="boardTitle" th:value="${board.boardTitle}">
					<input type="hidden" name="boardNo" th:value="${board.boardNo}">
				</td>
			</tr>
			<tr>
				<th>
					기존첨부파일
				</th>
				<td>
					<div th:each="f : ${board.fileList}">
						<span th:text="${f.filename}"></span>
						<button type="button" th:onclick="delFile([[${f.boardFileNo}]],this)">삭제하기</button>
					</div>
				</td>
			</tr>
			<tr>
				<th>첨부파일추가</th>
				<td>
					<input type="file" name="upfile" multiple>
				</td>
			</tr>
			<tr>
				<th>내용</th>
				<td>
					<textarea name="boardContent" th:text="${board.boardContent}"></textarea>
				</td>
			</tr>
			<tr>
				<th colspan="2">
					<input type="submit" value="수정하기">
				</th>
			</tr>
		</table>	
	</form>
	<script>
	function delFile(fileNo, obj){
		const input = $("<input>");
		input.attr("name","delFileNo");
		input.val(fileNo);
		input.hide();
		$("#updateFrm").append(input);
		$(obj).parent().remove();
	}
	</script>
</body>
</html>