<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
<style>
	.mypage-container{
		display: flex;
		align-items : center;
	}
	
	.mypage-wrap{
		width:800px;
		margin : 0 auto;
	}
	.my-info-wrap{
		width:80%;
		margin : 0 auto;
	}
	
	.my-info-wrap .input-item>input{
		padding : 0;
	}
	
	.mypage-btn{
		display : flex;
		justify-content : center;
		gap : 50px;
		padding : 30px 0px;
	}
	
	.mypage-btn>* {
		width : 25%;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content mypage-container">
		<section class="section mypage-wrap">
			<div class="page-title">마이페이지</div>
			<div class="my-info-wrap">
				<form action="/member/update1" method="post" autocomplete="off">
					<table class="tbl">
						<tr>
							<th width="30%">회원번호</th>
							<td class="left" width="70%" th:text="${m.memberNo}"></td>
						</tr>			
						<tr>
							<th>아이디</th>
							<td class="left" th:text="${m.memberId}"></td>
						</tr>
						<tr>
							<th>
								<label for="memberPw">비밀번호</label>
							</th>
							<td>
								<div class="input-item">
									<input type="password" name="memberPw" id="memberPw" th:value="${m.memberPw}">
								</div>
							</td>
						</tr>
						<tr>
							<th>이름</th>
							<td class="left" th:text="${m.memberName}"></td>
						</tr>
						<tr>
							<th>
								<label for="memberPhone">전화번호</label>
							</th>
							<td>
							<div class="input-item">
								<input type="text" name="memberPhone" id="memberPhone" th:value="${m.memberPhone}">
							</div>
						</tr>
						<tr>
							<th>
								<label for="memberAddr">주소</label>
							</th>
						<td>
							<div class="input-item">
								<input type="text" name="memberAddr" id="memberAddr" th:value="${m.memberAddr}">
							</div>
						</td>
						</tr>
						<tr>
							<th>회원등급</th>
								<td class="left" th:switch="${m.memberLevel}">
									<span th:case="1">관리자</span>
									<span th:case="2">정회원</span>
									<span th:case="3">준회원</span>						
								</td>
						</tr>
						
						<tr>
							<th>가입일</th>
							<td class="left" th:text="${m.enrollDate}"></td>
						</tr>
					</table>
					<input type="hidden" name="memberNo" th:value="${m.memberNo}">
					<div class="mypage-btn">
						<button type="submit" class="btn-primary lg">정보수정</button>
						<button type="button" class="btn-secondary lg">회원탈퇴</button>
					</div>
				</form>
			</div>
		</section>
	</main>
	<th:block th:include="common/footer"></th:block>
</body>
</html>